/* >>>>> MAIN STYLES <<<<< */
    .main{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> HEADER CONTAINER <<<<< */
    .header{
        width: 100%;
        height: 150px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header h1{
        width: 80%;

        color: white;
        font-size: 2rem;

        border-bottom: 1px solid white;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> RESPONSE CONTAINER <<<<< */
    .responseContainer{

    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> INPUT CONTAINER <<<<< */
    .inputContainer{
        width: 100%;
        height: 100px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: fixed;
        bottom: 30px;
        right: 0;
        left: 0;
        /* z-index: 1; */
    }

    .inputContainer input{
        width: 75%;
        padding: 16px;
        
        font-size: 1.5rem;

        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .inputContainer button{
        width: 10%;

        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .inputContainer input, .inputContainer button{
        height: 100%;

        background-color: white;
        border: none;
        outline: none;
    }
    /* >>> RESPONSIVE <<< */
/*  */