@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* >>>>> MAIN STYLES <<<<< */
    .main{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    /* >>> RESPONSIVE <<< */
/*  */


/* >>>>> HEADER CONTAINER <<<<< */
    .header{
        width: 100%;
        height: 150px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header h1{
        width: 80%;

        color: white;
        font-size: 4rem;
        font-family: "Koulen", sans-serif;
        font-weight: 400;
        font-style: normal;

        border-bottom: 1px solid white;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 600px) {
        .header h1{
            font-size: 2.5rem;
        }
    }
/*  */


/* >>>>> RESPONSE CONTAINER <<<<< */
    .responseContainer{
        color: white;

        width: 80%;
        margin-bottom: 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    .responseContainer h1, .responseContainer h2{
        font-family: "Koulen", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .responseContainer h1{
        font-size: 2.5rem;
    }

    .responseContainer h2{
        font-size: 2rem;
    }

    .responseContainer p, .responseContainer ul, .responseContainer ol{
        font-size: 1.5rem;
        font-family: "KoHo", sans-serif;
        font-weight: 200;
        font-style: normal;

        padding-left: 20px;
    }

    .responseContainer li{
        margin-left: 40px;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 600px) {
        .responseContainer h1{
            font-size: 2rem;
        }
        
        .responseContainer h2{
            font-size: 1.7rem;
        }
        .responseContainer p,
        .responseContainer ul,
        .responseContainer ol {
            font-size: 1rem;
        }
        .responseContainer li {
            margin-left: 20px;
        }
    }
/*  */


/* >>>>> INPUT CONTAINER <<<<< */
    .inputContainer{
        width: 100%;
        height: 100px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: fixed;
        bottom: 30px;
        right: 0;
        left: 0;
        /* z-index: 1; */
    }

    .inputContainer input{
        width: 75%;
        padding: 16px;
        
        font-size: 1.5rem;

        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .inputContainer button{
        width: 10%;

        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .inputContainer input, .inputContainer button{
        height: 100%;

        background-color: white;
        border: none;
        outline: none;
    }
    /* >>> RESPONSIVE <<< */
    @media screen and (max-width: 600px) {
        .inputContainer input{
            font-size: 1rem;
        }
    }
/*  */